@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-han-50: #ebebff;
  --color-han-100: #d1d3ff;
  --color-han-200: #a8abff;
  --color-han-300: #7a7fff;
  --color-han-400: #5257ff;
  --color-han-500: #242bff;
  --color-han-600: #0008eb;
  --color-han-700: #0006ad;
  --color-han-800: #000475;
  --color-han-900: #000238;

  --color-fd-primary: hsl(238, 100%, 57%);

  --color-primary: #247bff;

  --container-8xl: 100rem;

  --animate-sidebar-slide-in-right: sidebar-slide-in-right 0.2s ease-out;
  --animate-sidebar-slide-out-right: sidebar-slide-out-right 0.2s ease-in;
  --animate-sidebar-fade-in: sidebar-fade-in 0.2s ease-out;
  --animate-sidebar-fade-out: sidebar-fade-out 0.2s ease-in;

  @keyframes sidebar-slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes sidebar-slide-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes sidebar-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes sidebar-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.dark {
  --color-fd-primary: hsl(238, 100%, 83%);
}

:root {
  --fd-layout-width: 1400px;
  --fd-nav-height: 80px !important;
  --spacing-fd-container: 1568px;
}
