---
title: 'Email Verification'
description: 'How to verify your email with Blutui'

---

## Email Verification
Blutui requires email verification in 2 key areas:

- Your account email: You will receive an email asking you to verify your email address on sign up

- For site level users (for example your clients): They will need to verify their email addresses in order to receive form notifications. Client users will be asked to verify their user when they sign up to a site.
